<div class="container mt-5">
    <h1 class="mb-4">Diabetic Retinopathy Image Segmentation</h1>
    <p>
      This web app uses a deep learning model to segment and analyze images of the retina to identify the presence and severity of Diabetic Retinopathy.
    </p>
    <h2>What is Diabetic Retinopathy?</h2>
    <p>
      Diabetic Retinopathy is a complication of diabetes that affects the eyes. It's caused by damage to the blood vessels of the light-sensitive tissue at the back of the eye (retina). At first, diabetic retinopathy may cause no symptoms or only mild vision problems. Eventually, it can cause blindness.
    </p>
    <button class="btn btn-primary" routerLink="/image-segmentation">Try Image Segmentation</button>
  </div>
  